<div>
    <h1>Card status</h1>
    <table>
        <th>Deck size</th><th>Attempts</th>
    {{range $key, $value := .Layout.Results}}
       <tr>
            <td>{{$key}}</td>
            <td>{{$value}}</td>
        </tr>
    {{end}}
    </table>
    <p>Up to card: {{ .Layout.UpToCard }}. Attempts: {{ .Layout.Attempts }} ({{.Layout.AttemptsString}})</p>
</div>
